:root {
  --primary-light-color: hsl(0, 0%, 100%);
  --secondary-light-color: hsl(47, 88%, 63%);
  --tertiary-light-color: hsl(0, 0%, 42%);

  --primary-dark-color: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary-light-color);
}
header {
  display: none;
}
main {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 1.5em;
  background-color: var(--primary-light-color);
  position: relative;
  box-shadow: 10px 9px 0px;
}

main img {
  width: 100%;
  border-radius: 1rem;
}
main h1 {
  border-radius: 5px;
  background-color: var(--secondary-light-color);
  margin-right: 15.5em;
  margin-top: 1.5em;
  padding: 0.2em;
  font-weight: 600;
  font-size: 1.6rem;
  color: hsl(0, 0%, 7%);
  width: 50%;
  text-align: center;
}

main h2 {
  margin-right: 11.5rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 15px;
  color: hsl(0, 0%, 7%);
}
main a {
  text-align: center;
  margin-right: 3.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--primary-dark-color);
}
main a:hover {
  color: var(--secondary-light-color);
  transition: 0.5s ease, color 0.5s ease;
}
main p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: left;
  line-height: 1.5rem;
  color: var(--tertiary-light-color);
}
#profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
#profile img {
  width: 3rem;
}
#profile span {
  margin-left: 1rem;
  font-weight: 800;
}

@media (max-width: 400px) {
  main {
    width: 100%;
    min-width: 250px;
  }
  main a {
    font-size: 18px;
    margin-right: 1.5rem;
  }
  main h1 {
    margin-right: 7.3rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  main h2 {
    margin-right: 11.5rem;
    margin-top: 1rem;
    padding: 0.2rem;
    font-weight: 800;
  }
  main p {
    font-size: 11px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-right: 1rem;
    line-height: 1rem;
  }
}
