*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(47, 88%, 63%);
  }
  
.container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 22rem;
    border: 1px solid black;
    position: relative;
    box-shadow: 10px 9px 0px;
}
.container img{
    border-radius: 1rem;
}
.container h5{
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    margin-right: 15.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    
}

.container h4{
    margin-right: 11.5rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 15px;
    color: hsl(0, 0%, 7%);
    
    
}
.container a{
    text-align: center;
    margin-right: 3.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    color: hsl(0, 0%, 7%);
}
.container a:hover{
   color: hsl(47, 88%, 63%);
   transition: 0.5s ease, color 0.5s ease;
}
.container p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
    margin-right: 1rem;
    text-align: left;
    line-height: 1.5rem;
    color: hsl(0, 0%, 42%);
   
}
#profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#profile img{
    width: 3rem;
}
#profile span{
    margin-left: 1rem;
    font-weight: 800;
}


@media (max-width: 400px) {
    .container{
        width: 250px;
    }
    .container a{
       font-size: 18px;
       margin-right: 1.5rem;
        
       
    }
    .container h4{
        margin-right: 7.3rem;
        margin-top: 0.5rem;
        font-weight: 500;
        font-size: 12px;
        
    }
    .container h5{
        margin-right: 11.5rem;
        margin-top: 1rem;
        padding: 0.2rem;
        font-weight: 800;
        
        
    }
    .container p{
        font-size: 11px;
        font-weight: 500;
        margin-top: 0.5rem;
        margin-right: 1rem;
        line-height: 1rem;
       
    }
    
    
    
}